/* Global Styles */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
}

h1, h3 {
    font-size: 24px;
}

p {
    margin: 10px 0;
}

a {
    text-decoration: none;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    display: inline-block;
}

a:hover {
    background-color: #0056b3;
}


/* Index page and quiz view */
.error {
    color: #ff0000;
}

body.quiz {
    text-align: center;
    background-color: #f0f0f0;
}

form.quiz-form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    display: inline-block;
    width: 60%;
    margin: 20px auto;
}

label {
    font-weight: bold;
}

input[type="text"],
select {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}


input[type="radio"] {
    margin-right: 5px;
}

/* Progress bar */
.progress-container {
    width: 60%;
    margin: 20px auto;
    background-color: #ccc;
    border-radius: 8px;
}

.progress-bar {
    width: 0;
    height: 30px;
    background-color: #4CAF50;
    text-align: center;
    line-height: 30px;
    color: white;
    border-radius: 8px;
}

/* Results page */
.container {
    margin: 0 auto;
    max-width: 400px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    margin-top: 20px;
    text-align: center;
}

.results {
    margin-bottom: 20px;
}
